<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>运维管理平台</title>
  <link rel="icon" href="../public/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
  <script src="https://cdn.bootcss.com/rollbar.js/2.4.0/rollbar.min.js"></script>
  <script src="../public/js/stomp.js"></script>
</head>

<body>
  <div id="root"></div>
</body>

</html>