@import '../../../../node_modules/antd/lib/style/themes/default.less';

.documnet{


  :global{
    .ant-menu{
      border-radius: 5px;
      border:1px;
      webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
      border-color: rgba(0, 0, 0, 0.09);
    }
    .ant-menu-item{
      &:hover {
        background-color: #f0fbff
      }

    }
  }
}

.coverCardList {

  :global {
    .ant-col-4 {
      padding: 15px;
    }
  }
  .card {
    border: 0px;
    :global {

      .avatarList {
        float: left;
        margin-top: 10px;
        width: 100%;

        .ant-avatar{
          cursor: pointer;
        }
      }

      .ant-layout-content{
        background: #fff;
        margin-left:10px;
        margin-top:20px;
      }
      .ant-card-wider-padding .ant-card-body{
        padding: 0px;
      }
      .ant-card-body{
        padding: 0px;
      }

      .ant-card-meta-title {
        margin-bottom: 4px;
        & > a {
          color: @heading-color;
          display: inline-block;
          max-width: 100%;
        }
      }
      .ant-card-meta-description {
        height: 44px;
        line-height: 22px;
        overflow: hidden;
      }
    }

    &:hover {
      :global {
        .ant-card-meta-title > a {
          color: @primary-color;
        }
      }
    }
  }

  .cardItemContent {

    display: flex;
    margin-top: 16px;
    margin-bottom: -4px;
    line-height: 20px;
    height: 20px;
    & > span {
      color: @text-color-secondary;
      flex: 1;
      font-size: 12px;
    }

  }
  .cardList {
    margin-top: 24px;
  }

  :global {
    .ant-list .ant-list-item-content-single {
      max-width: 100%;
    }
  }
}
